@{ ViewBag.Title = "Home Page"; }

@section scripts {
	<script src="~/lib/underscore/underscore-min.js"></script>
	<script src="~/lib/angular/angular.min.js"></script>
	<script src="~/lib/angular-route/angular-route.min.js"></script>
	<script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="~/lib/gmaps/gmaps.min.js"></script>
	<script src="~/lib/travelmap/travelmap.min.js"></script>
	<script src="~/js/the-world.tpls.js"></script>
	<script src="~/js/the-world.js"></script>
}

<div class="row" ng-app="theWorld">
	<div ng-view></div>
</div>